body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

nav {
    background-color: #666;
    overflow: hidden;
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content */
.modal-content {
    width: 300px; /* Adjust width as needed */
    padding: 20px; /* Add padding as needed */
    border: 1px solid #888; /* Add border styles as needed */
    background-color: #fff; /* Add background color as needed */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999; /* Set z-index to ensure popup is on top of other elements */
}

.modal-content h2 {
    margin-top: 0; /* Remove top margin from h2 */
}

.modal-content ul {
    list-style-type: none;
    padding: 0;
}

.modal-content ul li {
    margin-bottom: 10px; /* Adjust margin between list items */
}

.modal-content ul li a {
    color: #333; /* Set link color */
    text-decoration: none;
    transition: color 0.3s ease; /* Add transition effect for link color */
}

.modal-content ul li a:hover {
    color: #555; /* Change link color on hover */
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    color: #888; /* Set close button color */
    font-size: 20px;
    cursor: pointer;
}